# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
slow-query-log = 1
slow-query-log-file = /var/log/mysql/mysql-slow.log
long_query_time = 1
log-error = /var/log/mysql/mysql-error.log
log_queries_not_using_indexes
general_log_file = /var/log/mysql/mysql-general.log
general_log = 1
